<div class="app-bar" style="position: absolute;">
  <%= image_tag "parcs_logo_webrond.png", height: '60', width: '60'%>
</div>
<div class="row collapse" style="padding-top: 80px;">
  <div class="small-12 medium-6 large-5 columns herbarium-sheet">
  	<div id="sheet"></div>
  </div>
  <div class="small-12 medium-6 large-7 columns">
    <div id="sheet-data" class="paper-bg">
      <h1><%= @specimen.taxon %></h1>
      <div class="sheet-label">Identifiant</div>
      <div class="sheet-value"><%= @specimen.scan_num %></div>

      <div class="sheet-label">Famille botanique</div>
      <div class="sheet-value"><i><%= @specimen.familly %></i></div>
      
      <div class="row collapse" style="margin-right: 35px;">
        <div class="medium-6 columns">
          <div class="sheet-label">Collecté par</div>
          <div class="sheet-value"><%= @specimen.identifiedBy %></div>
        </div>
        <div class="medium-6 columns">
          <div class="sheet-label">Date de collecte</div>
          <div class="sheet-value"><%= @specimen.record_date_note %></div>
        </div>
      </div>
      
      <div class="sheet-label">Organes collectés</div>
      <div class="sheet-value"><%= @specimen.material_organ %></div>

      <div class="sheet-label">Lieu de collecte</div>
      <div class="sheet-value"><%= @specimen.location %></div>
      <div class="sheet-value" style="font-weight: normal;"><%= @specimen.sampling_location %></div>
      <div class="sheet-value" style="font-weight: normal;"><%= @specimen.habitat %></div>
      <br/>
    </div>

    <div id="map"></div>
  </div>
  
</div>

<script>
	var sheet = L.map('sheet', {
	  center: [0, 0],
	  crs: L.CRS.Simple,
	  zoom: 0,
	 });
  L.tileLayer.iiif('http://localhost:3000/image-service/<%= @specimen.scanid %>/info.json',{
    attribution: "Ville de Nantes",
    maxZoom: 7
  }).addTo(sheet);

  var map = L.map('map').setView([<%= @specimen.latitude || 47.2197866 %>, <%= @specimen.longitude || -1.5451327%>], 13);
  L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
    attribution: 'Data \u00a9 <a href="http://www.openstreetmap.org/copyright"> OpenStreetMap Contributors </a> Tiles \u00a9 HOT',
    maxZoom: 18
  }).addTo(map);
  var specimenMarker = L.marker([<%= @specimen.latitude %>, <%= @specimen.longitude %>]).addTo(map);
</script>

